.version.contact /* version checker */
{
	color: #0000F1;
	background-color: #8968C5;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 663px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F8F8F8;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#pu8346
{
	width: 0.01px;
	padding-bottom: 452px;
	margin-left: -1px;
}

#u8346
{
	z-index: 74;
	padding-bottom: 17px;
}

#u8536
{
	z-index: 76;
	width: 47px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 304px;
}

#u8537
{
	z-index: 77;
	width: 47px;
	height: 6px;
}

#u8539
{
	z-index: 78;
	width: 47px;
	height: 6px;
	margin-top: 10px;
}

#u8538
{
	z-index: 79;
	width: 47px;
	height: 6px;
	margin-top: 10px;
}

#u8346-bw
{
	z-index: 74;
	height: 54px;
}

#pamphletu8433
{
	z-index: 86;
	width: 0.01px;
	height: 71px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 277px;
}

#u8453
{
	z-index: 87;
	width: 103px;
	margin-right: -10000px;
}

#u8455
{
	width: 103px;
	height: 71px;
}

.ie #u8455
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u8455:hover
{
	margin: 0px;
}

.ie #u8455:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u8434popup
{
	z-index: 89;
}

#u8434
{
	width: 380px;
	padding-bottom: 44px;
	top: 95px;
	left: -277px;
}

#u8435
{
	z-index: 90;
	width: 336px;
	height: 384px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#menuu8462
{
	z-index: 91;
	width: 249px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 43px;
}

#u8503
{
	width: 249px;
}

#u8506
{
	width: 249px;
	min-height: 48px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u8506:hover
{
	width: 249px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8506:active
{
	width: 249px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8507-4
{
	width: 249px;
	min-height: 48px;
	margin-right: -10000px;
	top: 1px;
}

#u8506:hover #u8507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8506:active #u8507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8478
{
	width: 249px;
	min-height: 48px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u8506.MuseMenuActive,#u8478:active
{
	width: 249px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8479-4
{
	width: 249px;
	min-height: 48px;
	margin-right: -10000px;
	top: 1px;
}

#u8506.MuseMenuActive #u8507-4,#u8478:hover #u8479-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8478:active #u8479-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8511
{
	width: 249px;
	min-height: 48px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u8478.MuseMenuActive,#u8511:active
{
	width: 249px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8513-4
{
	width: 249px;
	min-height: 48px;
	margin-right: -10000px;
	top: 1px;
}

#u8478.MuseMenuActive #u8479-4,#u8511:hover #u8513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8511:active #u8513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8518
{
	width: 249px;
	min-height: 48px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u8511.MuseMenuActive,#u8518:active
{
	width: 249px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8518.MuseMenuActive
{
	width: 249px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8520-4
{
	width: 249px;
	min-height: 48px;
	margin-right: -10000px;
	top: 1px;
}

#u8511.MuseMenuActive #u8513-4,#u8518:hover #u8520-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8518:active #u8520-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8477,#u8510,#u8517,#u8470
{
	width: 249px;
	margin-top: 2px;
}

#u8473
{
	width: 249px;
	min-height: 48px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u8473:active
{
	margin: 0px -10000px 0px 0px;
}

#u8473.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u8476-4
{
	width: 249px;
	min-height: 48px;
	margin-right: -10000px;
	top: 2px;
}

#u8518.MuseMenuActive #u8520-4,#u8473:hover #u8476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8473:active #u8476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8473.MuseMenuActive #u8476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8540-5
{
	z-index: 122;
	margin-right: -10000px;
	margin-top: 21px;
	left: 41px;
}

#pu8883
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: -450px;
}

#u8883
{
	z-index: 2;
	width: 45px;
	height: 4px;
	border-color: #000000;
	background-color: #353535;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 255px;
}

#u8884
{
	z-index: 3;
	width: 45px;
	height: 4px;
	border-color: #000000;
	background-color: #353535;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u8882-4
{
	z-index: 70;
	width: 300px;
	min-height: 48px;
	background-color: transparent;
	line-height: 48px;
	position: relative;
	margin-right: -10000px;
}

#widgetu8549
{
	z-index: 4;
	width: 0.01px;
	height: 449px;
	margin-left: 40px;
	top: -388px;
	margin-bottom: -388px;
	position: relative;
}

#widgetu8560
{
	z-index: 5;
	width: 302px;
	height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu8560.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8562-4
{
	z-index: 6;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	font-size: 20px;
	line-height: 20px;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u8563-4
{
	z-index: 10;
	width: 288px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #353535;
	background-color: #F2F2F2;
	padding: 6px;
	color: #DEDEDE;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu8560.non-empty-st #u8563-4
{
	background-color: #D7D7D7;
}

#widgetu8560:hover #u8563-4
{
	border-color: #6B6B6B;
	background-color: #D7D7D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 31px;
	width: 288px;
	margin: 19px -10000px 0px 0px;
}

#widgetu8560.focus-st #u8563-4
{
	border-color: #6B6B6B;
	background-color: #D7D7D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 31px;
	width: 288px;
	margin: 19px -10000px 0px 0px;
}

#widgetu8560.non-empty-st #u8563-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8560:hover #u8563-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8560.focus-st #u8563-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8550
{
	z-index: 14;
	width: 302px;
	height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: -1px;
}

#widgetu8550.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 80px -10000px 0px 0px;
}

#u8553-4
{
	z-index: 15;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	font-size: 20px;
	line-height: 20px;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu8550.fld-err-st #u8553-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u8551-4
{
	z-index: 19;
	width: 288px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #353535;
	background-color: #F2F2F2;
	padding: 6px;
	color: #DEDEDE;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu8550.non-empty-st #u8551-4
{
	background-color: #D7D7D7;
}

#widgetu8550:hover #u8551-4
{
	border-color: #6B6B6B;
	background-color: #D7D7D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 31px;
	width: 288px;
	margin: 19px -10000px 0px 0px;
}

#widgetu8550.focus-st #u8551-4
{
	border-color: #6B6B6B;
	background-color: #D7D7D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 31px;
	width: 288px;
	margin: 19px -10000px 0px 0px;
}

#widgetu8550.non-empty-st #u8551-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8550:hover #u8551-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8550.focus-st #u8551-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u8565-4
{
	z-index: 23;
	width: 300px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 424px;
}

#widgetu8549.frm-sub-st #u8565-4 p
{
	color: #7E7E7E;
	line-height: 1;
	text-align: center;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u8580-4
{
	z-index: 27;
	width: 300px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 424px;
}

#widgetu8549.frm-subm-err-st #u8580-4 p
{
	color: #D7244C;
	line-height: 1;
	text-align: center;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u8579-4
{
	z-index: 31;
	width: 300px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 424px;
}

#widgetu8549.frm-sub-st #u8565-4,#widgetu8549.frm-subm-err-st #u8580-4,#widgetu8549.frm-subm-ok-st #u8579-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu8549.frm-subm-ok-st #u8579-4 p
{
	color: #7E7E7E;
	text-align: center;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u8581-17
{
	z-index: 35;
	min-height: 45px;
	width: 300px;
	position: relative;
	margin-right: -10000px;
	margin-top: 375px;
	background: url("../../images/u8581-17.png") no-repeat 0px 0px;
}

#u8581-17:hover
{
	background: url("../../images/u8581-17-r.png") no-repeat 0px 0px;
}

#u8581-17:active
{
	background: url("../../images/u8581-17-m.png") no-repeat 0px 0px;
}

#widgetu8549.frm-sub-st #u8581-17
{
	background: url("../../images/u8581-17-fs.png") no-repeat 0px 0px;
}

#widgetu8555
{
	z-index: 52;
	width: 302px;
	height: 113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
	left: -1px;
}

#widgetu8555.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 241px -10000px 0px 0px;
}

#u8559-4
{
	z-index: 53;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	font-size: 20px;
	line-height: 20px;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u8556-4
{
	z-index: 57;
	width: 288px;
	min-height: 76px;
	border-width: 1px;
	border-style: solid;
	border-color: #353535;
	background-color: #F2F2F2;
	padding: 6px;
	color: #DEDEDE;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#widgetu8555.non-empty-st #u8556-4
{
	background-color: #D7D7D7;
}

#widgetu8555:hover #u8556-4
{
	border-color: #6B6B6B;
	background-color: #D7D7D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 76px;
	width: 288px;
	margin: 23px -10000px 0px 0px;
}

#widgetu8555.focus-st #u8556-4
{
	border-color: #6B6B6B;
	background-color: #D7D7D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 76px;
	width: 288px;
	margin: 23px -10000px 0px 0px;
}

#widgetu8555.fld-err-st #u8556-4
{
	border-color: #9E0505;
	background-color: #D7D7D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 76px;
	width: 288px;
	margin: 23px -10000px 0px 0px;
}

#widgetu8555.non-empty-st #u8556-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8555:hover #u8556-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8555.focus-st #u8556-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8555_input,#widgetu8555_prompt
{
	width: 288px;
	min-height: 76px;
	color: #DEDEDE;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu8574
{
	z-index: 61;
	width: 302px;
	height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: -1px;
}

#widgetu8574.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 161px -10000px 0px 0px;
}

#u8578-4
{
	z-index: 62;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #6B6B6B;
	font-size: 20px;
	line-height: 20px;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu8560.fld-err-st #u8562-4,#widgetu8555.fld-err-st #u8559-4,#widgetu8574.fld-err-st #u8578-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu8560.fld-err-st #u8562-4 p,#widgetu8560.fld-err-st #u8562-4 span,#widgetu8550.fld-err-st #u8553-4 p,#widgetu8550.fld-err-st #u8553-4 span,#widgetu8555.fld-err-st #u8559-4 p,#widgetu8555.fld-err-st #u8559-4 span,#widgetu8574.fld-err-st #u8578-4 p,#widgetu8574.fld-err-st #u8578-4 span
{
	color: #D7244C;
}

#u8576-4
{
	z-index: 66;
	width: 288px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #353535;
	background-color: #F2F2F2;
	padding: 6px;
	color: #DEDEDE;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu8574.non-empty-st #u8576-4
{
	background-color: #D7D7D7;
}

#widgetu8574:hover #u8576-4
{
	border-color: #6B6B6B;
	background-color: #D7D7D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 31px;
	width: 288px;
	margin: 19px -10000px 0px 0px;
}

#widgetu8574.focus-st #u8576-4
{
	border-color: #6B6B6B;
	background-color: #D7D7D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 31px;
	width: 288px;
	margin: 19px -10000px 0px 0px;
}

#widgetu8560.fld-err-st #u8563-4,#widgetu8550.fld-err-st #u8551-4,#widgetu8574.fld-err-st #u8576-4
{
	border-color: #9E0505;
	background-color: #D7D7D7;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 31px;
	width: 288px;
	margin: 19px -10000px 0px 0px;
}

#widgetu8574.non-empty-st #u8576-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8574:hover #u8576-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8574.focus-st #u8576-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu8560.fld-err-st #u8563-4 *,#widgetu8550.fld-err-st #u8551-4 *,#widgetu8555.fld-err-st #u8556-4 *,#widgetu8574.fld-err-st #u8576-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu8560_input,#widgetu8560_prompt,#widgetu8550_input,#widgetu8550_prompt,#widgetu8574_input,#widgetu8574_prompt
{
	width: 288px;
	min-height: 31px;
	color: #DEDEDE;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu8560.focus-st #widgetu8560_prompt,#widgetu8550.focus-st #widgetu8550_prompt,#widgetu8555.focus-st #widgetu8555_prompt,#widgetu8574.focus-st #widgetu8574_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu8560:hover #widgetu8560_input,#widgetu8560.focus-st #widgetu8560_input,#widgetu8560.fld-err-st #widgetu8560_input,#widgetu8560:hover #widgetu8560_prompt,#widgetu8560.fld-err-st #widgetu8560_prompt,#widgetu8550:hover #widgetu8550_input,#widgetu8550.focus-st #widgetu8550_input,#widgetu8550.fld-err-st #widgetu8550_input,#widgetu8550:hover #widgetu8550_prompt,#widgetu8550.fld-err-st #widgetu8550_prompt,#widgetu8555:hover #widgetu8555_input,#widgetu8555.focus-st #widgetu8555_input,#widgetu8555.fld-err-st #widgetu8555_input,#widgetu8555:hover #widgetu8555_prompt,#widgetu8555.fld-err-st #widgetu8555_prompt,#widgetu8574:hover #widgetu8574_input,#widgetu8574.focus-st #widgetu8574_input,#widgetu8574.fld-err-st #widgetu8574_input,#widgetu8574:hover #widgetu8574_prompt,#widgetu8574.fld-err-st #widgetu8574_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu8560.non-empty-st #widgetu8560_prompt,#widgetu8550.non-empty-st #widgetu8550_prompt,#widgetu8555.non-empty-st #widgetu8555_prompt,#widgetu8574.non-empty-st #widgetu8574_prompt
{
	visibility: hidden;
}

#pu8347
{
	width: 0.01px;
	margin-top: 15px;
}

#u8347
{
	z-index: 75;
	padding-bottom: 9px;
}

#u8548-6
{
	z-index: 80;
	width: 300px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 40px;
}

#u8548-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 8px -10000px 0px 0px;
}

#u8548-6:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 8px -10000px 0px 0px;
}

#u8347-bw
{
	z-index: 75;
	height: 35px;
}

#u15185-5
{
	z-index: 127;
	width: 73px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 304px;
}

#u15199
{
	z-index: 132;
	width: 33px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 60px;
}

#u15199_clip
{
	width: 33px;
	height: 19px;
}

#u15199_img
{
	margin: -122px -73px -66px -84px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

