.Desktop-Submenu-Strong,.Mobile-Menu,.Mobile-Submenu-Strong
{
	font-family: lato-n7, sans-serif;
}

.Desktop-Menu,.Desktop-SubMenu,.Desktop-Informations,.Mobile-Information,.Hyperlink
{
	font-family: lato-n4, sans-serif;
}

#u8548-6
{
	font-family: lato-n4, sans-serif;
}

#u15185-5
{
	font-family: lato-n4, sans-serif;
}

