.Desktop-Submenu-Strong,.Mobile-Menu,.Mobile-Submenu-Strong
{
	font-family: lato-n7, sans-serif;
}

.Desktop-Menu,.Desktop-SubMenu,.Desktop-Informations,.Mobile-Information,.Hyperlink
{
	font-family: lato-n4, sans-serif;
}

#u8548-6
{
	font-family: lato-n4, sans-serif;
}

#u15185-5
{
	font-family: lato-n4, sans-serif;
}

#u15119-6,#u15137-6,#u15182-6,#u8860-6,#u15023-6,#u15035-6,#u15053-6,#u15062-6,#u15071-6,#u15146-6,#u15155-6,#u15128-6,#u15110-6,#u15164-6,#u15173-6
{
	font-family: lato-n4, sans-serif;
}

