.version.index /* version checker */
{
	color: #0000F8;
	background-color: #0A2DBB;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 586.8340742687526px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F8F8F8;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 0px;
}

#pu8346
{
	width: 0.01px;
	padding-bottom: 452px;
	margin-left: -1px;
}

#u8346
{
	z-index: 4;
	padding-bottom: 17px;
}

#u8536
{
	z-index: 6;
	width: 47px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 304px;
}

#u8537
{
	z-index: 7;
	width: 47px;
	height: 6px;
}

#u8539
{
	z-index: 8;
	width: 47px;
	height: 6px;
	margin-top: 10px;
}

#u8538
{
	z-index: 9;
	width: 47px;
	height: 6px;
	margin-top: 10px;
}

#u8346-bw
{
	z-index: 4;
	height: 54px;
}

#pamphletu8433
{
	z-index: 16;
	width: 0.01px;
	height: 71px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 277px;
}

#u8453
{
	z-index: 17;
	width: 103px;
	margin-right: -10000px;
}

#u8455
{
	width: 103px;
	height: 71px;
}

.ie #u8455
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u8455:hover
{
	margin: 0px;
}

.ie #u8455:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u8434popup
{
	z-index: 19;
}

#u8434
{
	width: 380px;
	padding-bottom: 44px;
	top: 95px;
	left: -277px;
}

#u8435
{
	z-index: 20;
	width: 336px;
	height: 384px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#menuu8462
{
	z-index: 21;
	width: 249px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 43px;
}

#u8503
{
	width: 249px;
}

#u8506
{
	width: 249px;
	min-height: 48px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u8506:hover
{
	width: 249px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8506:active
{
	width: 249px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8507-4
{
	width: 249px;
	min-height: 48px;
	margin-right: -10000px;
	top: 1px;
}

#u8506:hover #u8507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8506:active #u8507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8478
{
	width: 249px;
	min-height: 48px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u8506.MuseMenuActive,#u8478:active
{
	width: 249px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8479-4
{
	width: 249px;
	min-height: 48px;
	margin-right: -10000px;
	top: 1px;
}

#u8506.MuseMenuActive #u8507-4,#u8478:hover #u8479-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8478:active #u8479-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8511
{
	width: 249px;
	min-height: 48px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u8478.MuseMenuActive,#u8511:active
{
	width: 249px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8513-4
{
	width: 249px;
	min-height: 48px;
	margin-right: -10000px;
	top: 1px;
}

#u8478.MuseMenuActive #u8479-4,#u8511:hover #u8513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8511:active #u8513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8518
{
	width: 249px;
	min-height: 48px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u8511.MuseMenuActive,#u8518:active
{
	width: 249px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8518.MuseMenuActive
{
	width: 249px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8520-4
{
	width: 249px;
	min-height: 48px;
	margin-right: -10000px;
	top: 1px;
}

#u8511.MuseMenuActive #u8513-4,#u8518:hover #u8520-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8518:active #u8520-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8477,#u8510,#u8517,#u8470
{
	width: 249px;
	margin-top: 2px;
}

#u8473
{
	width: 249px;
	min-height: 48px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u8473:active
{
	margin: 0px -10000px 0px 0px;
}

#u8473.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u8476-4
{
	width: 249px;
	min-height: 48px;
	margin-right: -10000px;
	top: 2px;
}

#u8518.MuseMenuActive #u8520-4,#u8473:hover #u8476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8473:active #u8476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8473.MuseMenuActive #u8476-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 0px -10000px 0px 0px;
}

#u8540-5
{
	z-index: 52;
	margin-right: -10000px;
	margin-top: 21px;
	left: 41px;
}

#pu15074
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: -472px;
}

#u15074
{
	z-index: 2;
	width: 383px;
	opacity: 0.63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=63)";
	filter: alpha(opacity=63);
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/pasted%20svg%20391x390_poster_u15191.png") no-repeat left top;
	background-size: 244px 256px;
}

.svg #u15074
{
	background-image: url('../../images/pasted%20svg%20391x390.svg');
}

#u15074_clip
{
	overflow: hidden;
	width: 383px;
	height: 471px;
}

#u15074_img
{
	margin-left: -184px;
	margin-right: -32px;
}

#u8230
{
	z-index: 64;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 71px;
}

#u15186
{
	z-index: 65;
	width: 244px;
	min-height: 252px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 59px;
}

#u8230-bw
{
	z-index: 64;
	height: 366px;
}

#pu8347
{
	width: 0.01px;
	margin-top: 29px;
}

#u8347
{
	z-index: 5;
	padding-bottom: 9px;
}

#u8548-6
{
	z-index: 10;
	width: 300px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 40px;
}

#u8548-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 8px -10000px 0px 0px;
}

#u8548-6:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 8px -10000px 0px 0px;
}

#u8347-bw
{
	z-index: 5;
	height: 35px;
}

#u15185-5
{
	z-index: 57;
	width: 73px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 304px;
}

#u15199
{
	z-index: 62;
	width: 33px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 60px;
}

#u15199_clip
{
	width: 33px;
	height: 19px;
}

#u15199_img
{
	margin: -122px -73px -66px -84px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

