.version.about /* version checker */
{
	color: #0000F4;
	background-color: #FA5AE2;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: -1px;
}

#u9567
{
	z-index: 79;
}

#u9568-3
{
	z-index: 80;
	width: 121px;
	min-height: 55px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 40px;
}

#menuu9569
{
	z-index: 83;
	width: 417px;
	margin-bottom: -3px;
	margin-right: -10000px;
	left: 309px;
}

#u9584
{
	width: 65px;
	min-height: 79px;
	margin-right: -10000px;
}

#u9587
{
	width: 65px;
	padding-bottom: 62px;
}

#u9587:hover
{
	margin: 0px;
}

#u9587:active
{
	margin: 0px;
}

#u9590-4
{
	width: 45px;
	min-height: 17px;
	margin-right: -10000px;
	top: 31px;
	left: 10px;
}

#u9587:hover #u9590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9587:active #u9590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9570
{
	width: 70px;
	min-height: 79px;
	margin-right: -10000px;
	left: 67px;
}

#u9571
{
	width: 70px;
	padding-bottom: 62px;
}

#u9587.MuseMenuActive,#u9571:hover
{
	margin: 0px;
}

#u9571:active
{
	margin: 0px;
}

#u9572-4
{
	width: 50px;
	min-height: 17px;
	margin-right: -10000px;
	top: 31px;
	left: 10px;
}

#u9587.MuseMenuActive #u9590-4,#u9571:hover #u9572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9571:active #u9572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9591
{
	width: 86px;
	min-height: 79px;
	margin-right: -10000px;
	left: 139px;
}

#u9592
{
	width: 86px;
	padding-bottom: 62px;
}

#u9571.MuseMenuActive,#u9592:hover
{
	margin: 0px;
}

#u9592:active
{
	margin: 0px;
}

#u9594-4
{
	width: 66px;
	min-height: 17px;
	margin-right: -10000px;
	top: 31px;
	left: 10px;
}

#u9571.MuseMenuActive #u9572-4,#u9592:hover #u9594-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9592:active #u9594-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9577
{
	width: 101px;
	min-height: 79px;
	margin-right: -10000px;
	left: 227px;
}

#u9580
{
	width: 101px;
	padding-bottom: 62px;
}

#u9592.MuseMenuActive,#u9580:hover
{
	margin: 0px;
}

#u9580:active
{
	margin: 0px;
}

#u9583-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 31px;
	left: 10px;
}

#u9592.MuseMenuActive #u9594-4,#u9580:hover #u9583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9580:active #u9583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9608
{
	width: 87px;
	min-height: 79px;
	margin-right: -10000px;
	left: 330px;
}

#u9609
{
	width: 87px;
	padding-bottom: 62px;
}

#u9580.MuseMenuActive,#u9609:hover
{
	margin: 0px;
}

#u9609:active
{
	margin: 0px;
}

#u9609.MuseMenuActive
{
	margin: 0px;
}

#u9612-4
{
	width: 68px;
	min-height: 17px;
	margin-right: -10000px;
	top: 31px;
	left: 9px;
}

#u9580.MuseMenuActive #u9583-4,#u9609:hover #u9612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9609:active #u9612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9609.MuseMenuActive #u9612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9567-bw
{
	z-index: 79;
	height: 76px;
}

#u9728
{
	z-index: 66;
	border-color: #7E7E7E;
	background-color: #353535;
}

#u9729-4
{
	z-index: 67;
	width: 339px;
	min-height: 63px;
	background-color: transparent;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 214px;
}

#u9728-bw
{
	z-index: 66;
	height: 73px;
}

#pu9744
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 39px;
}

#u9744
{
	z-index: 71;
	vertical-align: top;
	width: 201px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	background: url("../../images/u9744.png") no-repeat 0px 0px;
}

#u9745-4
{
	z-index: 73;
	width: 276px;
	min-height: 20px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 205px;
}

.gs1
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u9746
{
	z-index: 72;
	vertical-align: top;
	width: 201px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 488px;
	background: url("../../images/u9746.png") no-repeat 0px 0px;
}

#u9725-15
{
	z-index: 49;
	width: 679px;
	min-height: 195px;
	border-style: none;
	background-color: transparent;
	margin-left: 44px;
	margin-top: 27px;
	position: relative;
}

#u9726
{
	float: left;
	margin-top: 5px;
	margin-bottom: 7px;
	margin-right: 12px;
}

#u9727
{
	z-index: 54;
	width: 270px;
	height: 216px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#u9725-3
{
	font-family: lato, sans-serif;
	font-weight: 900;
}

#pu9723-4
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 38px;
}

#u9723-4
{
	z-index: 45;
	width: 173px;
	min-height: 51px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u9748
{
	z-index: 77;
	vertical-align: top;
	width: 261px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	background: url("../../images/u9748.png") no-repeat 0px 0px;
}

#u9749
{
	z-index: 78;
	vertical-align: top;
	width: 261px;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 428px;
	background: url("../../images/u9749.png") no-repeat 0px 0px;
}

#slideshowu9622
{
	z-index: 11;
	width: 0.01px;
	height: 201px;
	margin-left: 23px;
	margin-top: 14px;
	position: relative;
}

#u9624
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -249px;
	left: 92px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u9624popup
{
	z-index: 12;
}

#u9633
{
	z-index: 13;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9633_img
{
	padding-top: 22px;
	padding-bottom: 21px;
}

#u12548
{
	z-index: 15;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12548_img
{
	padding-top: 21px;
	padding-bottom: 20px;
}

#u12557
{
	z-index: 17;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12557_img
{
	padding-top: 34px;
	padding-bottom: 33px;
}

#u12566
{
	z-index: 19;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12566_img
{
	padding-top: 40px;
	padding-bottom: 39px;
}

#u12575
{
	z-index: 21;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12584
{
	z-index: 23;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12575_img,#u12584_img
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#u9665
{
	position: absolute;
	width: 723px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 96px;
}

#u9665popup
{
	z-index: 25;
}

#u9674
{
	z-index: 26;
	width: 105px;
	height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 21px;
}

#u12551
{
	z-index: 28;
	width: 105px;
	height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#u12560
{
	z-index: 30;
	width: 105px;
	height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 251px;
}

#u12569
{
	z-index: 32;
	width: 105px;
	height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 366px;
}

#u12578
{
	z-index: 34;
	width: 105px;
	height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 481px;
}

#u12587
{
	z-index: 36;
	width: 105px;
	height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 596px;
}

#u9674:hover,#u12551:hover,#u12560:hover,#u12569:hover,#u12578:hover,#u12587:hover
{
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	margin: 0px -10000px 0px 0px;
}

#u9623-3
{
	position: absolute;
	width: 40px;
	min-height: 40px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 142px;
	left: 293px;
	background: #7E7E7E url("../../images/ok.png") no-repeat center center;
}

#u9623-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px;
	background: #ADADAD url("../../images/ok.png") no-repeat center center;
}

#u9623-3popup
{
	z-index: 38;
}

#u9657-3
{
	position: absolute;
	width: 40px;
	min-height: 40px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 142px;
	left: 377px;
	background: #7E7E7E url("../../images/oksag.png") no-repeat center center;
}

#u9657-3:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	margin: 0px;
	background: #ADADAD url("../../images/oksag.png") no-repeat center center;
}

#u9657-3popup
{
	z-index: 41;
}

#u9678
{
	position: absolute;
	width: 40px;
	height: 40px;
	border-style: none;
	border-color: transparent;
	top: 142px;
	left: 335px;
	background: #7E7E7E url("../../images/close.png") no-repeat center center;
}

#u9678:hover
{
	margin: 0px;
	background: #ADADAD url("../../images/close.png") no-repeat center center;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u9754
{
	z-index: 2;
	padding-bottom: 18px;
}

#u9755-4
{
	z-index: 3;
	width: 403px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 39px;
}

#u9755-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 17px -10000px 0px 0px;
}

#u9755-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 17px -10000px 0px 0px;
}

#u9756
{
	z-index: 7;
	width: 30px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 588px;
}

#u9757
{
	z-index: 8;
	width: 30px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 624px;
}

#u9758
{
	z-index: 9;
	width: 30px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 661px;
}

#u9759
{
	z-index: 10;
	width: 30px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 697px;
}

#u9756:hover,#u9757:hover,#u9758:hover,#u9759:hover
{
	margin: 15px -10000px 0px 0px;
}

#u9754-bw
{
	z-index: 2;
	margin-top: 53px;
	height: 46px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

