.Desktop-Submenu-Strong,.Mobile-Menu,.Mobile-Submenu-Strong
{
	font-family: lato-n7, sans-serif;
}

.Desktop-Menu,.Desktop-SubMenu,.Desktop-Informations,.Mobile-Information,.Hyperlink
{
	font-family: lato-n4, sans-serif;
}

#u9568-3
{
	font-family: lato-n7, sans-serif;
}

#u9590-4
{
	font-family: lato-n4, sans-serif;
}

#u9572-4
{
	font-family: lato-n4, sans-serif;
}

#u9594-4
{
	font-family: lato-n4, sans-serif;
}

#u9583-4
{
	font-family: lato-n4, sans-serif;
}

#u9612-4
{
	font-family: lato-n4, sans-serif;
}

#u9755-4
{
	font-family: lato-n4, sans-serif;
}

#u9421-4
{
	font-family: lato-n9, sans-serif;
}

#u9442-4
{
	font-family: lato-n9, sans-serif;
}

#u9406-4
{
	font-family: lato-n9, sans-serif;
}

#u9438-4
{
	font-family: lato-n9, sans-serif;
}

#u9429-4
{
	font-family: lato-n9, sans-serif;
}

#u9451-3
{
	font-family: lato-n4, sans-serif;
}

#u9452-2,#u9452-3,#u9452-5
{
	font-family: lato-i4, sans-serif;
}

