.version.index /* version checker */
{
	color: #000006;
	background-color: #63E280;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#pu9567
{
	width: 0.01px;
	margin-right: -10000px;
}

#u9567
{
	z-index: 11;
}

#u9568-3
{
	z-index: 12;
	width: 121px;
	min-height: 55px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 40px;
}

#menuu9569
{
	z-index: 15;
	width: 417px;
	margin-bottom: -3px;
	margin-right: -10000px;
	left: 309px;
}

#u9584
{
	width: 65px;
	min-height: 79px;
	margin-right: -10000px;
}

#u9587
{
	width: 65px;
	padding-bottom: 62px;
}

#u9587:hover
{
	margin: 0px;
}

#u9587:active
{
	margin: 0px;
}

#u9590-4
{
	width: 45px;
	min-height: 17px;
	margin-right: -10000px;
	top: 31px;
	left: 10px;
}

#u9587:hover #u9590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9587:active #u9590-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9570
{
	width: 70px;
	min-height: 79px;
	margin-right: -10000px;
	left: 67px;
}

#u9571
{
	width: 70px;
	padding-bottom: 62px;
}

#u9587.MuseMenuActive,#u9571:hover
{
	margin: 0px;
}

#u9571:active
{
	margin: 0px;
}

#u9572-4
{
	width: 50px;
	min-height: 17px;
	margin-right: -10000px;
	top: 31px;
	left: 10px;
}

#u9587.MuseMenuActive #u9590-4,#u9571:hover #u9572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9571:active #u9572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9591
{
	width: 86px;
	min-height: 79px;
	margin-right: -10000px;
	left: 139px;
}

#u9592
{
	width: 86px;
	padding-bottom: 62px;
}

#u9571.MuseMenuActive,#u9592:hover
{
	margin: 0px;
}

#u9592:active
{
	margin: 0px;
}

#u9594-4
{
	width: 66px;
	min-height: 17px;
	margin-right: -10000px;
	top: 31px;
	left: 10px;
}

#u9571.MuseMenuActive #u9572-4,#u9592:hover #u9594-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9592:active #u9594-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9577
{
	width: 101px;
	min-height: 79px;
	margin-right: -10000px;
	left: 227px;
}

#u9580
{
	width: 101px;
	padding-bottom: 62px;
}

#u9592.MuseMenuActive,#u9580:hover
{
	margin: 0px;
}

#u9580:active
{
	margin: 0px;
}

#u9583-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 31px;
	left: 10px;
}

#u9592.MuseMenuActive #u9594-4,#u9580:hover #u9583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9580:active #u9583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9608
{
	width: 87px;
	min-height: 79px;
	margin-right: -10000px;
	left: 330px;
}

#u9609
{
	width: 87px;
	padding-bottom: 62px;
}

#u9580.MuseMenuActive,#u9609:hover
{
	margin: 0px;
}

#u9609:active
{
	margin: 0px;
}

#u9609.MuseMenuActive
{
	margin: 0px;
}

#u9612-4
{
	width: 68px;
	min-height: 17px;
	margin-right: -10000px;
	top: 31px;
	left: 9px;
}

#u9580.MuseMenuActive #u9583-4,#u9609:hover #u9612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9609:active #u9612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9609.MuseMenuActive #u9612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u9567-bw
{
	z-index: 11;
	height: 76px;
}

#u9398
{
	z-index: 46;
	height: 961px;
	border-color: #000000;
	background-color: #629ECF;
}

#u9398-bw
{
	z-index: 46;
	height: 961px;
}

#u9448
{
	z-index: 47;
	width: 9px;
	height: 9px;
	border-color: #000000;
	background-color: #353535;
	-webkit-transform: matrix(0.6157,-0.788,0.788,0.6157,-2,5);
	-ms-transform: matrix(0.6157,-0.788,0.788,0.6157,-2,5);
	-o-transform: matrix(0.6157,-0.788,0.788,0.6157,-2,5);
	transform: matrix(0.6157,-0.788,0.788,0.6157,-2,5);
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 490px;
}

#u9449
{
	z-index: 48;
	width: 9px;
	height: 9px;
	border-color: #000000;
	background-color: #353535;
	-webkit-transform: matrix(-0.6428,-0.766,0.766,-0.6428,4,11);
	-ms-transform: matrix(-0.6428,-0.766,0.766,-0.6428,4,11);
	-o-transform: matrix(-0.6428,-0.766,0.766,-0.6428,4,11);
	transform: matrix(-0.6428,-0.766,0.766,-0.6428,4,11);
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 690px;
}

#u9399
{
	z-index: 49;
	height: 367px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u9399-bw
{
	z-index: 49;
	margin-top: 185px;
	height: 367px;
}

#menuu9400
{
	z-index: 50;
	width: 488px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 50px;
}

#u9419
{
	width: 488px;
	background-color: transparent;
	position: relative;
}

#u9420
{
	width: 488px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u9420.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u9421-4
{
	width: 488px;
	min-height: 91px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 91px;
	font-size: 65px;
	color: #7E7E7E;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-bottom: -29px;
	margin-right: -10000px;
	top: -15px;
	left: 0px;
}

#u9420:hover #u9421-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 91px;
	margin: 0px -10000px -29px 0px;
}

#u9420:hover #u9421-4 p
{
	color: #353535;
	visibility: inherit;
}

#u9442-4
{
	width: 488px;
	min-height: 91px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 91px;
	font-size: 65px;
	color: #7E7E7E;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-bottom: -29px;
	margin-right: -10000px;
	top: -15px;
}

#u9420.MuseMenuActive #u9421-4,#u9441:hover #u9442-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 91px;
	margin: 0px -10000px -29px 0px;
}

#u9420.MuseMenuActive #u9421-4 p,#u9441:hover #u9442-4 p
{
	color: #353535;
	visibility: inherit;
}

#u9406-4
{
	width: 488px;
	min-height: 91px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 91px;
	font-size: 65px;
	color: #7E7E7E;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-bottom: -29px;
	margin-right: -10000px;
	top: -15px;
}

#u9441.MuseMenuActive #u9442-4,#u9404:hover #u9406-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 91px;
	margin: 0px -10000px -29px 0px;
}

#u9441.MuseMenuActive #u9442-4 p,#u9404:hover #u9406-4 p
{
	color: #353535;
	visibility: inherit;
}

#u9438-4
{
	width: 488px;
	min-height: 91px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 91px;
	font-size: 65px;
	color: #7E7E7E;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-bottom: -29px;
	margin-right: -10000px;
	top: -15px;
}

#u9404.MuseMenuActive #u9406-4,#u9436:hover #u9438-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 91px;
	margin: 0px -10000px -29px 0px;
}

#u9404.MuseMenuActive #u9406-4 p,#u9436:hover #u9438-4 p
{
	color: #353535;
	visibility: inherit;
}

#u9440,#u9401,#u9433,#u9426
{
	width: 488px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u9441,#u9404,#u9436,#u9427
{
	width: 488px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u9429-4
{
	width: 488px;
	min-height: 91px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 91px;
	font-size: 65px;
	color: #7E7E7E;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-bottom: -29px;
	margin-right: -10000px;
	top: -15px;
}

#u9436.MuseMenuActive #u9438-4,#u9427:hover #u9429-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 91px;
	margin: 0px -10000px -29px 0px;
}

#u9427.MuseMenuActive #u9429-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 91px;
	margin: 0px -10000px -29px 0px;
}

#u9436.MuseMenuActive #u9438-4 p,#u9427:hover #u9429-4 p
{
	color: #353535;
	visibility: inherit;
}

#u9427.MuseMenuActive #u9429-4 p
{
	color: #353535;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u9450
{
	z-index: 81;
	width: 163px;
	-pie-box-shadow: -2px 3px 3px #BFBFBF;
	-moz-box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: -2px 3px 3px -1px rgba(0, 0, 0, 0.25);
	box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.25);
	border-color: #000000;
	background-color: #454545;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 493px;
	padding: 15px 16px 17px 22px;
}

#u9451-3
{
	z-index: 86;
	width: 163px;
	min-height: 63px;
	font-size: 19px;
	color: #ADADAD;
	text-align: center;
	letter-spacing: 3px;
	line-height: 15px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	background: transparent url("../../images/logo-u9451-3-fr.png") no-repeat left top;
	background-size: contain;
}

#pu9459
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 11px;
}

#u9459
{
	z-index: 82;
	width: 25px;
	height: 24px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/facebooknormal.png") no-repeat center center;
	background-size: contain;
}

#u9459:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/facebookhover.png") no-repeat center center;
	background-size: contain;
}

#u9460
{
	z-index: 83;
	width: 25px;
	height: 24px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 38px;
	background: transparent url("../../images/twitternormal.png") no-repeat center center;
	background-size: contain;
}

#u9460:hover
{
	margin: 1px -10000px 0px 0px;
	background: transparent url("../../images/twitterhover.png") no-repeat center center;
	background-size: contain;
}

#u9461
{
	z-index: 84;
	width: 25px;
	height: 24px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 74px;
	background: transparent url("../../images/googlenormal.png") no-repeat center center;
	background-size: contain;
}

#u9461:hover
{
	margin: 1px -10000px 0px 0px;
	background: transparent url("../../images/googlehover.png") no-repeat center center;
	background-size: contain;
}

#u9462
{
	z-index: 85;
	width: 25px;
	height: 24px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 110px;
	background: transparent url("../../images/innormal.png") no-repeat center center;
	background-size: contain;
}

#u9462:hover
{
	margin: 1px -10000px 0px 0px;
	background: transparent url("../../images/inhover.png") no-repeat center center;
	background-size: contain;
}

#u9452-8
{
	z-index: 89;
	width: 225px;
	min-height: 169px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
	left: 493px;
}

#u9452-2,#u9452-3,#u9452-5
{
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u9754
{
	z-index: 2;
	padding-bottom: 18px;
}

#u9755-4
{
	z-index: 3;
	width: 403px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 39px;
}

#u9755-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 17px -10000px 0px 0px;
}

#u9755-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	margin: 17px -10000px 0px 0px;
}

#u9756
{
	z-index: 7;
	width: 30px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 588px;
}

#u9757
{
	z-index: 8;
	width: 30px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 624px;
}

#u9758
{
	z-index: 9;
	width: 30px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 661px;
}

#u9759
{
	z-index: 10;
	width: 30px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 697px;
}

#u9756:hover,#u9757:hover,#u9758:hover,#u9759:hover
{
	margin: 15px -10000px 0px 0px;
}

#u9754-bw
{
	z-index: 2;
	margin-bottom: -1px;
	margin-top: 961px;
	height: 46px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -961px;
}

